<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812204791100-1fk8tplann16s9crs8fivh3ap28j1ihk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812204791100-1fk8tplann16s9crs8fivh3ap28j1ihk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>812204791100-cn2a072mglve386fjtb8qtu7k7v3n505.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZumTM2rWitAhVwcWd14IiOJEHnpY8ucc</string>
	<key>GCM_SENDER_ID</key>
	<string>812204791100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wapiticar.ios</string>
	<key>PROJECT_ID</key>
	<string>wapiti-car</string>
	<key>STORAGE_BUCKET</key>
	<string>wapiti-car.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812204791100:ios:9a966ac18ce1c19a5c3a39</string>
	<key>DATABASE_URL</key>
	<string>https://wapiti-car-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>